<div class="card-container" *ngIf="hydrusFile">
  <mat-card
    id="image-container"
    [ngStyle]="{
      'height.px': heightNum + 70,
      'width.px': widthNum + 50,
      'background-size': 'contain'
    }"
  >
    
      <h3
        class="file-title"
        [ngStyle]="{
          'width.px': widthNum ? widthNum : heightNum
        }"
        [matTooltip]="determineFileTitle()"
      >
        {{ determineFileTitle() }}
      </h3>
    <div>
      <mat-icon *ngIf="hydrusFile.has_audio">videocam</mat-icon>
      <mat-icon *ngIf="hydrusFile.has_audio">volume_up</mat-icon>
      <mat-icon *ngIf="hydrusFile.is_inbox"> mail</mat-icon>
      <mat-icon *ngIf="!hydrusFile.is_inbox"> archive</mat-icon>
      <mat-icon *ngIf="hydrusFile.is_trashed"> delete</mat-icon>
    </div>
    @if (fileType === 'other') {
    {{ hydrusFile.ext }}
    } @if (thumbnail || fileType === 'video' || fileType === 'gif') {
    <div
      [ngStyle]="{
        background:
          'url(' + hydrusFile.thumbnail_url + ') no-repeat center center',
        'height.px': heightNum,
        'width.px': widthNum ? widthNum : heightNum,
        'background-size': 'contain'
      }"
      fxLayoutAlign="center center"
    ></div>
    } @else {
    <img
      [src]="hydrusFile.file_url"
      class="image-thumbnail"
      [ngStyle]="{
        'height.px': heightNum,
        'width.px': widthNum ? widthNum : heightNum
      }"
    />
    }
  </mat-card>
</div>
