@use "../../variables";

.nav-links {
    font-size: variables.$heading-font-size + 5px;
    text-decoration: none;
}

.nav-links, .toolbar-icons, .span-text {
    color: whitesmoke
}

.toolbar-links {
  display: flex;
  gap: 25%;
}

.toolbar-container {
    background-color: #1565c0; 
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: whitesmoke 1px solid; 
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.stats-container {
    display: flex;
    gap: 5px;
}

.user-avatar {
    border-radius: 50%;
}
